.profile-picture {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #fff;
    text-decoration: underline;
}

#myNav {
    justify-content: space-between;
    flex-grow: 1;
}

.custom-nav {
    align-items: center;
}

.nav-item {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
}

.nav-item:hover {
    text-decoration: underline;
}

.navbar-dark .navbar-nav .dropdown-item {
    color: #212529;
}

.navbar-dark .navbar-nav .dropdown-item:hover {
    color: #212529;
    background-color: #f8f9fa;
}